.answer-text {
    margin-bottom: 5px;
    padding: 5px;
}

body {
    padding-top: 1em;
}

label {
    padding-left: 10px;
    margin: 0px;
}

/* initialization */
#start-window {
    display: block;
}

.question-text {
    font-weight: bold;
}

/* initialization */
#questions-window {
    display: none;
}

