.answer-text {
    margin-bottom: 5px;
    padding: 5px;
}

body {
    padding-top: 1em;
}

.hidden {
    display: none;    
}

label {
    padding-left: 10px;
    margin: 0px;
}

/* initialization */
#start-window {
    display: block;
}

.question-text {
    font-weight: bold;
}

/* initialization */
#questions-window {
    display: none;
}

.top-margin {
    margin-top: 10px;
}

#theTarget{
    color: red;
}
